<div class="jumbotron">
	<center>
		<h1>Welcome to the Pizza Shop!</h1>
		<img src="http://imagesus.homeaway.com/mda01/1a55ccb21a35cdbe08086db7d25c229f06e99144">
<!-- 		<img src="http://www.fratellisnewyorkpizza.com/3-pizzas.jpg"> -->
		<br>
		<%= link_to "Check out our Pizzas!", pizzas_path, class: "btn btn-default" %>
	</center>
</div>